@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px / 0.25 = 62.5% */
  }
  


/* Add some styles for body*/
body {
    font-size: 1.6rem; /* 16px */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background: url(/public/img/bg.jpg) no-repeat center;
    background-size: cover;

    /* background-image: radial-gradient(#0f172a 1px,transparent 0),radial-gradient(#0f172a 1px,transparent 0); */
    
}


.card
{
    background: #0f16278a;
    padding: 2.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 45rem;
    text-align: center;
    box-shadow: 1px 1px -2px 5px #0b0f21d1;
    border-radius: 2.5rem;

   
}

.card__header
{
    
    .card__img
    {
        width: 100%;
        border-radius: 2.5rem;
        padding-inline: 1rem;
        margin-bottom: 1rem;
       
    }
    .card__title {
        font-size: 2.5rem;

    }
    .card__artist
    {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: #d4d4d459;
    }
}

.card__body
{

    .card__time
    {
        width: 89%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #d4d4d459;
        font-size: 1.2rem;
    }
    .card__logbar
    {
        display: block;
        margin:0 auto;
        height: 9px;
        width: 90%;
        background-color: rgb(219, 219, 219);
        border-radius: 100rem;
        margin-bottom: 2rem;
        cursor: pointer;

     
        .card__barTtotal, .card__progress
        {
            border-radius:100rem;
            display: block;
            height: 100%;
            width: 100%;
        }

        
    }

    .card__controls
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .card__play
        {
            background-color: #a4166b;
            padding: 1rem;
            border-radius: 50%;
            margin: 0 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
            
            &:hover
            {
               filter: brightness(100%) contrast(90%) saturate(90%);
            }
        }
        .card__before
        {

        }
        .card__after
        {

        }
    }
}



